* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
a,
button,
input {
  font-family: $base-font;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: $dark;
}

.container {
  @extend %container;
  padding-left: 24px;
  padding-right: 24px;
  @media screen and (min-width: $screen-desktop-large) {
    padding-left: 0;
    padding-right: 0;
  }
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
@keyframes circle {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes colors {
  10% {
    color: wheat;
  }
  20% {
    color: orangered;
  }

  40% {
    color: yellow;
  }

  60% {
    color: purple;
  }

  80% {
    color: blue;
  }

  100% {
    color: springgreen;
  }
}
