* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 60%;
  width: 48%;
  margin: 100px auto;
}
.container__list {
  padding: 40px 30px 40px 30px;
  display: flex;
  flex-basis: 40%;
  justify-content: space-between;
  background-color: #fdde7e;
  height: 400px;
}
.container__item {
  flex-basis: 32%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  align-self: center;
}
img {
  width: 60px;
  height: 60px;
  margin: 20px auto;
}
.container__text--color {
  font-size: 36px;
  font-weight: 400;
  line-height: 12px;
  margin: 40px 0;
  color: #333333;
}
.container__text {
  color: #333333;
  margin-bottom: 10px;
  font-family: "Lato Light";
  font-weight: 300;
  line-height: 13px;
  font-size: 0.7rem;
}
.container__text--value {
  color: #02995b;

  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.container__item:nth-child(1):hover {
  padding: 35px 0px 25px 0px;
}
.container__item:nth-child(2):hover {
  padding: 35px 0px 25px 0px;
}
.container__item:nth-child(3):hover {
  padding: 35px 0px 25px 0px;
}
