.button {
  border: 1px solid transparent;

  text-decoration: none;
  padding: 5px 5px;

  text-align: center;
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 261px;
  height: 42px;
  background-color: #23ae92;
  font-family: $main-font;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fbf6e4;
}

.button:hover {
  background-color: $red;
}
