.about {
  max-width: 1500px;
  height: 700px;
  background-color: $bg-color;
  display: flex;
  align-items: center;
}
.about__title {
  color: $white;
  font-family: "Raleway";
  font-size: 5.625rem;
  font-weight: 700;
}

.about__text {
  padding-top: 20px;
  display: block;
  width: 499px;
  height: 188px;
  color: $white;
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}
.about__text-devider {
  display: block;
  height: 10px;
}
.about__text-wrapper {
  padding-left: 94px;
}
