.form {
  @include flex-main(column, flex-start, center);
  @include media-q($tablet) {
    @include flex-main(row, flex-start, flex-start);
  }
  &__input {
    width: 300px;
    height: 60px;
    padding-left: 10px;
    border: 1px solid white;
    margin-bottom: 10px;

    @include media-q($tablet) {
      width: 500px;
      padding-left: 125px;
      margin-bottom: 0px;
    }

    &::placeholder {
      @include font($secondary-font, 14px, 300, $input-text-color);
      letter-spacing: 1.8px;
    }

    &:invalid,
    &:invalid + .form__button {
      border: 4px solid red;
    }
    &:valid,
    &:valid + .form__button {
      border: 4px solid green;
    }
    &:not(:focus),
    &:not(:focus) + .form__button {
      border: 4px solid transparent;
    }
  }
}
