* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: $dark;
}
.film-search {
  width: 100%;
  z-index: 100;
  height: auto;
}
body {
  background-image: url(../images/bg3.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow-y: scroll;

  @include media-q($tablet) {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  @include media-q($tablet-wide) {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
}
