<section class="blog">
  <div class="blog__head">
    <h2 class="blog__main-title">Blog</h2>

    <p class="blog__text">
      Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit.
    </p>
  </div>

  <ul class="blog__cards">
    <li class="blog__card">
      <span class="blog__date">20 NOV</span>
      <div class="blog__text-wrapper">
        <h2 class="blog__card-title">
          Green Smoothies: Too Much of a Good Thing?
        </h2>
        <span class="blog__card-text"> By Auskteez - 2 hours ago</span>
      </div>
    </li>
    <li class="blog__card">
      <span class="blog__date">14 NOV</span>
      <div class="blog__text-wrapper">
        <h2 class="blog__card-title">
          Growing Food and a “Thirst” for Innovation
        </h2>
        <span class="blog__card-text"> By Auskteez - 3 hours ago</span>
      </div>
    </li>
    <li class="blog__card blog__card3">
      <span class="blog__date">10 NOV</span>
      <div class="blog__text-wrapper">
        <h2 class="blog__card-title">
          Pesticides & Food: What You Need to Know
        </h2>
        <span class="blog__card-text"> By Auskteez - 6 hours ago</span>
      </div>
    </li>
  </ul>

  <div class="blog__footer">
    <div class="blog__button-wrapper">
      <a class="blog__button button" href="https://beetroot.academy/"
        >View more</a
      >
    </div>
  </div>
</section>
