<section class="gallery">
  <h2 class="gallery__title">Gallery</h2>
  <p class="gallery__text">
    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <div class="gallery__grid grid">
    <div class="grid__row">
      <div class="grid__col grid__img-wrapper grid__big-img-wrapper">
        <img
          src="/images/img1.jpg"
          alt="img"
          class=" grid__images grid__big-img"
        />
      </div>

      <div class="grid__col grid__little-img-col">
        <div class="grid__img-box">
          <img src="/images/img2.jpg" alt="img" class="grid__little-img" />
        </div>
        <div class="grid__img-box  ">
          <img src="/images/img3.jpg" alt="img" class="grid__little-img" />
        </div>
      </div>
    </div>
    <div class="grid__row">
      <div class="grid__col grid__img-wrapper grid__mid-img-wrapper">
        <img
          src="/images/img4.jpg"
          alt="img"
          class=" grid__images grid__mid-img"
        />
      </div>
      <div class=" grid__col  grid__img-wrapper grid__mid-img-wrapper">
        <img
          src="/images/img5.jpg"
          alt="img"
          class=" grid__images grid__mid-img"
        />
      </div>
    </div>
  </div>
  <div class="gallery__button-wrapper">
    <a class="gallery__button button" href="https://beetroot.academy/"
      >View More</a
    >
  </div>
</section>
