<section class="section">
  <header class="header">
    <video
      class="header__bgvideo"
      loop
      autoplay
      muted
      poster="images/bg-video-scrin.png"
      src="images/bgv.mp4"
    ></video>
    <div class="header__head">
      <div class="header__name-wrapper">
        <h1 class="header__title">
          <a class="header__name" href="#footer"> Cahee</a>
        </h1>
      </div>

      <nav class="header__navigation navigation menu">
        <input class="menu__toggle" id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <svg
            class="ham hamRotate ham-first"
            viewBox="0 0 100 100"
            width="80"
            onclick="this.classList.toggle('active')"
          >
            <path
              class="line line-first"
              d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"
            />
            <path class="line line-middle" d="m 30,50 h 40" />
            <path
              class="line line-bottom"
              d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"
            />
          </svg>
        </label>
        <ul class="header__pages pages menu__box">
          <li class="pages__names">
            <a class="pages__link menu__item" href="#">Home</a>
          </li>
          <li class="pages__names">
            <a class="pages__link menu__item" href="#about">About</a>
          </li>
          <li class="pages__names">
            <a class="pages__link menu__item" href="#services">Services</a>
          </li>
          <li class="pages__names">
            <a class="pages__link menu__item" href="#gallery">Gallery</a>
          </li>
          <li class="pages__names">
            <a class="pages__link menu__item" href="#blog">Blog</a>
          </li>
          <li class="pages__names">
            <a class="pages__link menu__item" href="#footer">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="header__body">
      <h2 class="header__body-title">Fresh Life</h2>
      <span class="header__body-text"
        >Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco.</span
      >

      <div class="header__button-wrapper">
        <a class="header__body-button button" href="https://beetroot.academy/"
          >Get Free Now</a
        >
      </div>
    </section>
  </header>
  <a href="#about" class="scroll header__scroll"></a>
</section>
