<section class="subscribe">
  <div class="subscribe__wrapper">
    <h2 class="subscribe__title">Supscribe To Us</h2>
    <p class="subscribe__text">
      Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
    <form
      action="#"
      name="subscribe"
      id="subscribe"
      class="subscribe__form form"
    >
      <input
        class="form__input form__input--white"
        type="email"
        name="subscribe"
        form="subscribe"
        placeholder="	&nbsp;Your email address..."
        required
      />
      <button class="form__button" form="subscribe" name="sunscribe-button">
        SUBSCRIBE
      </button>
    </form>
  </div>
</section>
