@import "./core/vars";
.section__header {
  height: 155px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section__pages {
  display: flex;
  flex-direction: row;
  width: 557px;
}
.section__name {
  font-family: "Pacifico";
  font-size: 3.125rem;
  font-weight: 400;
  padding-left: 160px;
}
.section__pages {
  width: 557px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 166px;
}
.pages__names {
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-top: solid 3px transparent;
}
.pages__names:hover {
  border-top: 3px solid $btn-color;
}
