@import "./core/header-about-vars";
.header__head {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}
.header__name {
  font-family: "Pacifico";
  font-size: 3.125rem;
  font-weight: 400;
  padding-left: 160px;
}
.header__pages {
  margin-right: 166px;
}
.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
