.pages {
  width: 557px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}
.pages__names {
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-top: solid 3px transparent;
}
.pages__names:hover {
  border-top: 3px solid $header-btn-color;
}
