@import url("weather-icons-wind.css");
@import url("weather-icons.css");

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
}
body {
  background-color: #2b81ac;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header {
  background-color: #3399cc;
  margin: 15px 15px 0 15px;
  padding-left: 150px;
  padding-top: 20px;
}
h1 {
  font-size: 2rem;
  margin-left: 115px;
}
main {
  background-color: #3399cc;
  margin: 0px 15px 0 15px;
  padding-top: 10px;
}
.ul {
  position: relative;
  width: 700px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  text-align: center;
  border: 4px solid white;
}
h2 {
  font-size: 1rem;
  font-weight: 400;
}
.ul__li__span {
  color: #ffefcf;
}
i {
  font-size: 1.5rem;
}

.ul__li:nth-child(1),
.ul__li:nth-child(9) {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
}
.ul__li:nth-child(2),
.ul__li:nth-child(3),
.ul__li:nth-child(4),
.ul__li:nth-child(5),
.ul__li:nth-child(6),
.ul__li:nth-child(7),
.ul__li:nth-child(8),
.ul__li:nth-child(10) {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
}
.ul__li:nth-child(11) {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.ul__li {
  height: 95px;
}
.ul__li__h2 {
  padding: 12px 0px;
}
.ul__li:nth-child(1) {
  background-color: #3399cc;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(2) {
  background-color: #33cccc;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}

.ul__li:nth-child(3) {
  background-color: #996699;
  border-bottom: 4px solid white;
}
.ul__li:nth-child(4) {
  background-color: #c24747;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(5) {
  background-color: #e2674a;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(6) {
  background-color: #ffcc66;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(7) {
  background-color: #99cc99;
  border-bottom: 4px solid white;
}
.ul__li:nth-child(8) {
  background-color: #669999;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(9) {
  background-color: #cc6699;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
}
.ul__li:nth-child(10) {
  background-color: #cc6699;
  border-bottom: 4px solid white;
}
.ul__li:nth-child(11) {
  background-color: #666699;
}
.ul:hover .ul__li:not(:hover) {
  opacity: 0.5;
}
.footer {
  background-color: #3399cc;
  margin: 0px 15px 15px 15px;
  padding: 15px 0px 40px 265px;
}
.footer__text {
  margin-left: 10px;
}
