.work {
  min-height: 1420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__box {
  width: 902px;
  height: 1182px;
  display: flex;
  flex-direction: column;
  border: 3px solid $text-color-dark;
  border-top: none;
  text-align: center;
  position: relative;
}
.work__border-text {
  width: 500px;
  color: $text-color-dark;
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  color: $text-color-dark;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  animation: pulsate 1.9s linear infinite;
  margin: 0 auto;
  line-height: 25px;
}
.work__border-text:before {
  display: block;
  content: "";
  height: 3px;
  width: calc(50% - 250px);
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.work__border-text:after {
  display: block;
  content: "";
  height: 3px;
  width: calc(50% - 250px);
  background: black;
  position: absolute;
  top: 0;
  right: 0;
}
.work__item {
  width: 550px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.work__img {
  fill: $text-color-dark;
}
.work__title {
  color: $text-color-dark;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  padding-bottom: 20px;
}
.work__description {
  color: $text-color-dark;
  font-family: "Lato";
  font-size: 0.87rem;
  font-weight: 300;
  line-height: 25.89px;
}
