.search {
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1100;
  text-align: center;
  padding: 10px 20px;
  border-bottom: 2px solid $dark-white;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: relative;
  @include flex-main(column, center, center);
  @include media-q($tablet-large) {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    z-index: 1100;
    border-bottom: 2px solid $dark-white;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include flex-main(column, center, center);
  }
  &__title {
    @include font($main-font, 80px, 800, yellow);
    z-index: 1100;
  }
  &__input {
    width: 100%;
    height: 120px;
    border: 3px solid $white;
    padding-left: 10px;
    @include font($main-font, 30px, 600, $white);
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include media-q($tablest-medium) {
      width: 600px;
      height: 60px;
      border: 3px solid $white;
      padding-left: 10px;
      @include font($main-font, 20px, 600, $white);
      z-index: 100;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &::placeholder {
      color: rgba($color: white, $alpha: 0.7);
      @include font($main-font, 20px, 600, $white);
      padding-left: 0px;
      text-align: center;
      @include media-q($tablest-medium) {
        color: rgba($color: white, $alpha: 0.7);
        @include font($main-font, 30px, 600, $white);
        text-align: center;
        padding-left: 0px;
      }
    }
  }
}
