.tabs {
  width: 100%;
  height: 117px;
  @include flex-main(row, space-evenly, center);
  background-color: $card-list-color;
  &__svg {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    fill: $secondary-text-color;
  }
  &__item {
    height: 100%;
    @include flex-main(column, center, center);
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  &__item-name {
    @include font($main-font, 16px, 400, $secondary-text-color);
  }
}
