<section class="example" id="example">
  <div class="example__box">
    <div class="container example__container">
      <div class="example__content-box content-box">
        <span class="content-box__country">Spain</span>
        <h2 class="content-box__title">GRAND SPAIN MADRID</h2>
        <span class="content-box__text"
          >But I must explain to you how all this mistaken idea of account to
          denouncing pleasure and praising pain was account born and I account
          will give you a complete account of the system</span
        >

        <div class="content-box__button button">
          <a class="content-box__button-text" href="#">BOOK NOW</a>
        </div>
      </div>
    </div>
  </div>
  <div class="example__box">
    <div class="container example__container example__container--second">
      <div class="example__content-box content-box">
        <span class="content-box__country">Spain</span>
        <h2 class="content-box__title">GRAND SPAIN MADRID</h2>
        <span class="content-box__text"
          >But I must explain to you how all this mistaken idea of account to
          denouncing pleasure and praising pain was account born and I account
          will give you a complete account of the system</span
        >

        <div class="content-box__button button">
          <a class="content-box__button-text" href="#">BOOK NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
