$gallery-btn-color: #5585a2;
$gallery-bg-color: #ffe92f;
$gallery-text-color: #262626;
$gallery-btn-text-color: white;
$gallery-hover-bg-btn-color: red;
$gallery-subscribe-btn-color: #96b92c;

$gallery-ff-raleway: "Raleway", sans-serif;
