$header-btn-color: #ff6033;
$header-bg-color: #00c4c4;
$header-text-color: #262626;
$header-white: #ffffff;
$header-light: #fbfbf7;
$header-dark: #262626;
$header-red: red;

$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;
