$text-color: #fbf6e4;
$text-color-dark: #b9b9cc;
$text-color-purple: #e1c2f1;
$btn-color: #23ae92;
$red: red;
$light: white;
$valid-color: green;
$input-border-color: rgba(191, 185, 204, 0.54);

$main-font: "Quicksand", sans-serif;
