@media screen and (max-width: $screen-tablet) {
  .menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    text-align: center;
    background-color: $gallery-bg-color;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid $gallery-bg-color;

    border-radius: 20%;
  }
  /* элементы меню */
  .menu__item {
    width: 70%;
    display: block;
    padding: 10px 18px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 auto;
    border: 4px dotted $about-bg-color;
    margin-bottom: 5px;
    border-radius: 35px;
  }

  // открытие-закрытие меню
  .menu__item:hover {
    background-color: $about-bg-color;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    width: 100%;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    width: 75%;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    width: 75%;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
@media screen and (min-width: $screen-tablet) {
  .menu__toggle {
    opacity: 0;
  }
}
