.form__input--purple {
  background-color: $footer-form-color;
  height: 50px;
  width: 300px;
  opacity: 0.5;
  color: $footer-white;
  border: none;
}
@media screen and (min-width: 510px) {
  .form__input--purple {
    background-color: $footer-form-color;
    height: 50px;
    width: 500px;
    opacity: 0.5;
    color: $footer-white;
    border: none;
  }
}
.form__messege {
  height: 125px;

  padding-bottom: 100px;
}
@media screen and (min-width: 510px) {
  .form__messege {
    height: 250px;
    display: flex;
    padding-bottom: 195px;
  }
}

.form__input:focus {
  opacity: 1;
}
.form__input--purple::-webkit-input-placeholder {
  color: $footer-white;
}
input {
  outline: none;
}
