.grid {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;

    @media screen and (min-width: $screen-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
  &__col {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0px;
    }
  }
  &__col:nth-child(2) {
    margin-bottom: 0px;
  }

  &__col:nth-child(odd) {
    margin-right: 0px;
    @media screen and (min-width: $screen-tablet) {
      margin-right: 30px;
    }
  }

  &__big-img-wrapper {
    flex: 1 1 calc(100% / 3 * 2);
    padding-bottom: 71.5%;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      flex: 1 1 calc(100% / 3 * 2);
      padding-bottom: 46.5%;
    }
  }

  &__little-img-col {
    flex: 1 1 calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    margin-bottom: 30px;
  }

  &__mid-img-wrapper {
    flex: 1 1 50%;
    padding-bottom: 70%;
    @media screen and (min-width: $screen-tablet) {
      flex: 1 1 50%;
      padding-bottom: 33.9%;
    }
  }

  &__mid-img-wrapper:last-of-type {
    margin-right: 1.2%;
  }

  &__little-img {
    flex: 1 1 50%;
    height: 100%;
    width: 100%;
    @media screen and (min-width: $screen-tablet) {
      flex: 1 1 50%;
      height: 100%;
      width: 96.5%;
      padding-bottom: 30px;
      transition: 0.2s;
    }
  }

  // Padding Hack
  &__img-wrapper {
    position: relative;
    height: 0;
  }
  &__images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
  }
  &__img-box {
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0px;
    }
  }

  &__images:hover,
  &__little-img:hover {
    border: 1px solid transparent;
    border-radius: 30%;
    transform: scale(1.2);
    z-index: 100;
  }
}
