.main-form {
  padding: 0 15px;
}
.main-form__input--purple {
  background-color: $footer-form-color;
  height: 50px;
  width: 100%;
  opacity: 0.5;
  color: $footer-white;
  border: none;
  padding-left: 16px;
  @media screen and (min-width: 510px) {
    background-color: $footer-form-color;
    height: 50px;
    width: 500px;
    opacity: 0.5;
    color: $footer-white;
    border: none;
    border: 2px solid transparent;
  }
}

.main-form__messege {
  height: 125px;
  padding-left: 16px;
  padding-bottom: 100px;
  overflow: hidden;
  @media screen and (min-width: 510px) {
    height: 250px;
    display: flex;
    padding-bottom: 195px;
    padding-left: 16px;
    margin-bottom: 12px;
  }
}

.main-form__input:focus {
  opacity: 1;
}
.main-form__input--purple::-webkit-input-placeholder {
  color: $footer-white;
}

.main-form__alert {
  display: block;
  font-family: $base-font;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 700;
  color: $red;
}
.main-form__input:not(:focus) + .main-form__alert {
  opacity: 0;
}
.main-form__input:valid + .main-form__alert {
  opacity: 0;
}
.main-form__input:focus:invalid {
  border-color: $red;
}
.main-form__input:focus:valid {
  border-color: green;
}
.main-form__button {
  background-color: $footer-form-color;
  opacity: 0.5;
  visibility: hidden;
  width: 200px;
}
.main-form:valid .button {
  visibility: visible;
}
