.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 950px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__input {
    width: 100%;
    height: 55px;
    border: 1px solid $gallery-text-color;
    margin-right: 0px;
    color: $gallery-text-color;
    font-family: $base-font;
    font-size: 0.937rem;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 15px;
    padding-left: 0px;

    @media screen and (min-width: $screen-iphone-plus) {
      width: 60%;
      height: 55px;
      border: 1px solid $gallery-text-color;
      margin-right: 0px;
      color: $gallery-text-color;
      font-family: $base-font;
      font-size: 0.937rem;
      font-weight: 300;
      line-height: 27px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 950px) {
      width: 570px;
      height: 55px;
      border: 1px solid $gallery-text-color;
      margin-right: 30px;
      color: $gallery-text-color;
      font-family: $base-font;
      font-size: 0.937rem;
      font-weight: 300;
      line-height: 27px;
      margin-bottom: 0px;
    }
  }
  &--white {
    background-color: $white;
  }
  &__button {
    width: 205px;
    height: 53px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: $gallery-subscribe-btn-color;
    color: $gallery-btn-text-color;
    font-family: $base-font;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $gallery-subscribe-btn-color;
  }
  @media screen and (min-width: $screen-tablet) {
    &__button:hover {
      background-color: $gallery-hover-bg-btn-color;
    }
  }
  &__input:focus:invalid {
    border-color: $red;
  }
  &__input:focus:valid {
    border-color: green;
  }
}
