.contact-form__wrapper {
  height: auto;
  width: auto;
  background-image: url(../images/footer-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.contact-form__main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (min-width: 850px) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  justify-content: space-between;
  margin-bottom: 5px;

  @media screen and (min-width: 510px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 510px;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 810px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 510px;
    justify-content: space-between;
    margin-bottom: 120px;
  }
}
.contact-form__contacts {
  flex-basis: 100%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;
  text-align: center;

  @media screen and (min-width: 850px) {
    flex-basis: 32%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }
}
.contact-form__contacts-wrapper {
  border: 2px solid $about-bg-color;
  border-radius: 15px;
  height: 100px;
  min-width: 90px;
  background-color: $about-bg-color;
  opacity: 0.5;
  @media screen and (min-width: 850px) {
    border: none;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    opacity: 1;
  }
}
.contact-form__contacts-wrapper:not(:last-of-type) {
  margin-right: 4px;
}

.contact-form__contact-name {
  color: $footer-text-color;
  font-family: "Raleway - bold", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark;
  opacity: 1;
  padding-bottom: 5px;

  @media screen and (min-width: 850px) {
    color: $footer-text-color;
    font-family: "Raleway - bold", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.9;
  }
}
.contact-form__data {
  text-align: left;
  display: block;
  font-family: "Raleway - Light";
  font-weight: 300;
  opacity: 0.7;
  font-size: 1.062rem;
  color: $blog-button__color;
  opacity: 1;
  padding: 0 3px;
  text-align: center;
  word-wrap: break-word;

  @media screen and (min-width: 850px) {
    text-align: center;
    display: block;
    font-family: "Raleway - Light";
    font-weight: 300;
    opacity: 0.7;
    font-size: 1.062rem;
    color: $footer-text-color;
    text-align: left;
  }
}
.contact-form__divider {
  height: 25px;
}
.contact-form__head {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-form__title {
  height: 65px;
  color: $footer-text-color;
  font-family: "Raleway", sans-serif;
  font-size: 4.625rem;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;

  @media screen and (min-width: 510px) {
    width: 337px;
    height: 65px;
    color: $footer-text-color;
    font-family: "Raleway", sans-serif;
    font-size: 5.625rem;
    font-weight: 700;
  }
}

.contact-form__text {
  display: block;
  width: 300px;
  height: 60px;
  color: $footer-text-color;
  font-family: "Raleway", sans-serif;
  font-size: 1.362rem;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;

  @media screen and (min-width: 510px) {
    display: block;
    width: 350px;
    height: 41px;
    color: $footer-text-color;
    font-family: "Raleway", sans-serif;
    font-size: 1.362rem;
    font-weight: 300;
    text-align: center;
    padding: 0 0px;
  }
  @media screen and (min-width: 850px) {
    display: block;
    width: 350px;
    height: 41px;
    color: $footer-text-color;
    font-family: "Raleway", sans-serif;
    font-size: 1.062rem;
    font-weight: 300;
    text-align: center;
    padding: 0 0px;
  }
}
