.form__input {
  background-color: $form-color;
  height: 40px;
  width: 500px;
  opacity: 0.5;
  color: $white;
  border: none;
}
.form__messege {
  height: 150px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  height: 370px;
  justify-content: space-between;
}
.form__input:focus {
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: $white;
}
input {
  outline: none;
}
.form__button {
  width: 50%;
  height: 50px;
  background-color: $form-color;
  opacity: 0.5;
  align-self: flex-end;
}
.form__button:hover {
  opacity: 1;
}
.form__button:active {
  background-color: red;
}
